* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #202124;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #202124;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
}

.navbar p {
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar img {
    border-radius: 50%;
    cursor: pointer;
}

.middle-img {
    width: 100%;
    display: flex;
    align-items: center;
}

.middle-img img {

    margin: 80px auto 20px auto;
    width: 272px;
}

.search-contain {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.search-bar {
    width: 100%;
    max-width: 710px;
    min-height: 50px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 5px 8px 5px 14px;
    transition: box-shadow 0.2s;
}


.search-bar input {
    flex: 1;
    height: 34px;
    border: none;
    outline: none;
    padding: 0px 0px 10px 0px ;
    font-size: 16px;
}

.search-icon img,
.kb-icon img,
.mic-icon img,
.lens-icon img {
    width: 28px;
    height: 24px;
    display: block;
}

.search-tools {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ai-mode-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.search-buttons {
    margin-top: 25px;
    display: flex;
    gap: 12px;
}

.search-buttons button {
    background-color: #f8f9fa;
    border: 2px solid #f8f9fa;
    border-radius: 4px;
    color: black;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}


.language-info {
    margin-top: 45px;
    font-size: 13px;
}

.language-info a {
    color: #1a0dab;
    margin-left: 5px;
}

footer {
    background-color: #f2f2f2;
    width: 100%;
}

.footer-location {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    font-size: 15px;
}

.footer-links {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    display: flex;
    gap: 25px;
}

.footer-links a {
    color: #70757a;
    font-size: 14px;
}

@media (max-width: 600px) {
    body>img {
        width: 160px;
        margin-top: 20px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer-left,
    .footer-right {
        justify-content: center;
        gap: 15px;
    }
}